*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.contentimg{
    background-image: url(https://freshcart.codescandy.com/assets/images/slider/slider-2.jpg);
    background-position: center;
    background-size: cover;
    padding: 7rem 0;
    border-radius: 20px;
}

.imgdiv{
    width: 450px;
}

.imgdiv h5{
    font-size: 13px;
    border-radius: 20px;
    
}

.imgdiv h1{
    font-size: 50px;
    
}

.imgdiv h3{
    font-size: 23px;
    color: #5c6c75;
}

#second .text-start p{
    font-size: 25px;
    font-weight: bold;
}

#test1, #test2{
    background-color: #f0f3f2;
}

#third .col-lg-6:nth-child(1) .card{
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner.png);
    background-position: center;
    background-size: cover;
    padding: 1.5rem 0;
    background-repeat: no-repeat;
}

#third .col-lg-6:nth-child(2) .card{
    background-image: url(https://freshcart.codescandy.com/assets/images/banner/grocery-banner-2.jpg);
    background-position: center;
    background-size: cover;
    padding: 1.5rem 0;
    background-repeat: no-repeat;
}

#third .container{
    margin-top: 80px;
}

#fourth .text-start p{
    font-size: 25px;
    font-weight: bold;
}

#fourth .card-body i{
    color: orange
}

.fa-solid.fa-star, .fa-solid.fa-star-half-stroke, .fa-regular.fa-star{
    font-size: 14px;
}

#fourth .card-body h3{
    font-size: 12px;
    color: #5c6c75;
}

#fourth .card-body h1{
    font-size: 15px;
}

.pricediv span{
    font-size: 14px;
}
 
.pricediv button{
    background-color: green;
    color: white;
    padding: 5px 0;
    width: 60px;
    
    border-radius: 10px;
    font-size: 15px;
}




